.container {
   /* background: linear-gradient(45deg, white, green); */
   /* background: linear-gradient(to bottom, white, green); */
   background: linear-gradient(to top, white, green);
   border-radius: 2px;
   font-style: italic;
   font-weight: 600;
}
.title {
   text-transform: uppercase;
   font-style: italic;
   font-weight: 900;
   font-size: 3rem;
   line-height: .8;
   color: #fff;
}
.errorContainer {
   display: flex;
   justify-content: center;
   align-content: center;
}
.error {
   width: 60%;
   height: 40px;
   color: #fff;
   background:  rgb(209, 69, 69);
   border-radius: 25px;
   font-size: 18px;
   font-style: italic;
   text-align: center;
}
.focus-paciente:focus {
   outline: 5px solid rgb(214, 71, 71);
   border-radius: 2px;
   transition: all 1.9s;
} 
.focus-descripcion:focus {
   outline: 5px solid rgb(214, 71, 71);
   border-radius: 2px;
   transition: all 1.9s;
}
.focus-proveedor:focus {
   outline: 5px solid rgb(214, 71, 71);
   border-radius: 2px;
   transition: all 1.9s;
}